ss
<div class="logo">
  <img src="/assets/sqli-animated.svg" alt="" />
</div>
<div class="main">
  <div class="welcome w-50">
    <h4>Welcome to SQLI Customer Portal</h4>
    <p>The offical portal for SQLI customers</p>
  </div>
  <div class="wrapper">
    <div class="form w-50 d-flex flex-column">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <h4 class="mb-3">Confirm Password</h4>
        <input
          type="password"
          class="form-control mb-3"
          placeholder="Password"
          name="password"
          formControlName="password"
        />
        <input
          type="password"
          class="form-control mb-3"
          placeholder="Confirm password"
          name="confirmpassword"
          formControlName="confirmpassword"
        />
        <button class="btn btn-primary w-100" [disabled]="!passwordForm.valid">
          Confirm
        </button>
      </form>
    </div>
    <div class="w-50 d-flex align-items-center justify-content-end">
      <img src="/assets/crm.png" width="80%" alt="" />
    </div>
  </div>
</div>

<div class="logo-mini">
  <img src="/assets/sqli-mini.png" alt="" width="100%" />
</div>
