<div class="logo">
    <img src="/assets/sqli-animated.svg" alt="">
</div>
<div class="main">
    <div class="menu d-flex justify-content-around mb-3">
        <div class="d-flex align-items-center active">
            <i class="fa-solid fa-arrow-right-to-bracket mx-2"></i>
            Login
        </div>
        <div class="d-flex align-items-center">
            <i class="fa-solid fa-user-plus mx-2"></i>
            Sign Up
        </div>
    </div>
    <div class="welcome w-50">
        <h4>Welcome to <br/> SQLI Customer Portal</h4>
        <p>The offical portal for SQLI customers</p>
    </div>
    <div class="wrapper">
        <div class="form w-50 d-flex flex-column">
            <h4 class="mb-3">Login</h4>
            <input type="text" class="form-control mb-3" placeholder="Username">
            <input type="text" class="form-control mb-3" placeholder="Password">
            <button class="btn btn-primary w-100">Login</button>
            <a href="#" class="align-self-center mt-1">Forgot your password ?</a>
        </div>
        <div class="w-50 d-flex align-items-center justify-content-end">
            <img src="/assets/crm.png" width="80%" alt="">
        </div>
    </div>
</div>

<div class="logo-mini">
    <img src="/assets/sqli-mini.png" alt="" width="100%">
</div>