<div>
    <p class="welcome">Welcome, El Mehdi</p>
</div>

<div class="menu d-flex align-items-center">
    <div class="icons d-flex">
        <div class="icon">
            <img src="/assets/icons/notification.png" alt="">
        </div>
        <div class="icon">
            <img src="/assets/icons/chat.png" alt="">
        </div>
    </div>
    
    
    <div class="user d-flex align-items-center">
        <img src="/assets/icons/avatar.png" width="50px" alt="">
        <div class="dropdown">
            <i class="fa-solid fa-circle-chevron-down" type="button"data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Profile</a></li>
              <li><a class="dropdown-item" href="">Setttings</a></li>
              <li><a class="dropdown-item" href="">Log out</a></li>
            </ul>
        </div>
    </div>
</div>