:root {
  --primary: #602b70;
  --secondary: #ad2d5a;
  --disabled: #b7b0b0;
  --alert-success: #d1e7dd;
  --alert-warning: #fff3cd;
  --alert-error: #f8d7da;
  --alert-success-border: #cce4d9;
  --alert-warning-border: #ffeebe;
  --alert-error-border: #ffeebe;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-primary:hover {
  background-color: var(--secondary);
  border-color: var(--primary);
}

.btn-primary:focus {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  box-shadow: 2px 2px 5px var(--secondary);
}
.btn-primary:disabled {
  background-color: #c26686;
  border: 1px solid #bf5077;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* width */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}