<div class="d-flex flex-column h-100">
    <div class="d-flex align-items-center align-self-center logo">
        <img src="/assets/sqli-mini-white.svg" width="50px" alt="">
        <p class="mb-0 ms-2">SQLI Customer Server</p>
    </div>
    <img class="next" src="/assets/icons/arrow-right.png" width="25px" alt="">
    <div class="items">
            <a *ngFor="let item of navItems" [routerLink]="item.link">
                <div [ngClass]="{'d-flex': true, 'active': item.link==active}" (click)="activeLink(item.link)">
                    <img src="{{item.icon}}" width="25px" alt="">
                    <p class="mb-0 ms-3">{{item.label}}</p>
                </div>
            </a>
    </div>
    
    <div class="align-self-center mt-auto text-center w-100">
        <hr width="100%" color="#FFF" size="3">
        <p class="m-0">EL MESSOUAL El Mehdi</p>
        <p class="m-0">Sof IT .Inc</p>
    </div>
    
</div>