<div
  [ngClass]="{
    alert: true,
    type: true
  }"
  [ngStyle]="style"
>
  <i class="fa-solid fa-xmark" (click)="CloseAlert()"></i>
  <i
    [ngClass]="['icon fa-solid fa-' + Alert.icon, 'text-' + this.Alert.type]"
  ></i>
  <div class="main">
    <div [ngClass]="['header', 'text-' + this.Alert.type]">
      {{ Alert.type }}
    </div>
    <div [ngClass]="['content']">
      <p>{{ Alert.content }}</p>
    </div>
    <button
      [ngClass]="['btn', 'btn-' + this.Alert.type]"
      (click)="CloseAlert()"
    >
      CLOSE
    </button>
  </div>

  <span
    [ngClass]="['loader', 'btn-' + this.Alert.type]"
    [ngStyle]="loading"
  ></span>
</div>
