<!-- Info/Edit Modal Start -->

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #ad2d5a">
          <i class="fa-solid fa-pencil" *ngIf="action == 'update'"></i>
          <i
            class="fa-solid fa-circle-info"
            *ngIf="action == 'information'"
          ></i>
          {{ action | titlecase }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" *ngIf="ourForm != null">
        <form [formGroup]="ourForm" (ngSubmit)="onSubmit()">
          <div
            class="row modal-input mb-3"
            *ngFor="let entry of infoSelected | keys"
          >
            <label for=" {{ entry.key }}" class="col-form-label col-4">
              {{ entry.key | headerTable | titlecase }}
            </label>
            <input
              type="{{ entry.key == 'birthdate' ? 'date' : 'text' }}"
              [readonly]="isReadonly"
              class="form-control w-50 col-8"
              formControlName="{{ entry.key }}"
              name="{{ entry.key }}"
              id="{{ entry.key }}"
              value="{{ entry.value }}"
              [ngClass]="{ inputUpdate: action === 'update' }"
            />
          </div>
        </form>
      </div>
      <div
        class="modal-footer justify-content-center"
        style="border: none"
        *ngIf="action == 'update'"
      >
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          style="
            padding: 8px;
            background-color: #fff;
            color: black;
            border: 1px solid black;
            width: 40%;
          "
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateContact()"
          style="
            padding: 8px;
            background-color: #ad2d5a;
            border: none;
            width: 40%;
          "
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Info/Edit Modal End -->
<!-- Delete Modal Start -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #ad2d5a">
          <i class="fa-solid fa-triangle-exclamation"></i> Delete Contact?
        </h5>
        <button
          style="border: none; background-color: #fff; font-size: 25px"
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="infoSelected != null">
        Are you sure you want to delete
        <span style="font-weight: bold">{{ infoSelected.firstname }}</span> ?
      </div>
      <div class="modal-footer justify-content-center" style="border: none">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          style="
            padding: 8px;
            background-color: #fff;
            color: black;
            border: 1px solid black;
            width: 40%;
          "
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deleteContact()"
          style="
            padding: 8px;
            background-color: #ad2d5a;
            border: none;
            width: 40%;
          "
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal End -->

<div class="d-flex" style="justify-content: space-between">
  <div class="mr-auto p-2">
    <input class="filter" type="text" (keyup)="doFilter($event)" />
  </div>
  <div class="p-2">
    <button
      style="background-color: #ad2d5a; color: white"
      type="button"
      class="btn"
    >
      <i class="fa-solid fa-file-export"></i>Export
    </button>
  </div>
</div>
<div></div>

<table
  *ngIf="dataSource != null"
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortStart="desc"
  class="w-100"
>
  <ng-container
    *ngFor="let pair of dataSource.data[0] | keyvalue"
    [matColumnDef]="pair.key"
  >
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      style="text-transform: capitalize"
    >
      {{ pair.key | headerTable }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element[pair.key] }}
    </td>
  </ng-container>

  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
    <td mat-cell *matCellDef="let element">{{ element.dateOfBirth | date }}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
    <td mat-cell *matCellDef="let element">{{ element.address }}</td>
  </ng-container> -->

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef style="width: 50px">Details</th>
    <td mat-cell *matCellDef="let element">
      <button
        type="button"
        class="details"
        mat-icon-button
        color="primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal1"
        (click)="redirectToDetails(element)"
      >
        <i class="fa-solid fa-eye fa-lg"></i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef style="width: 50px">Update</th>
    <td mat-cell *matCellDef="let element">
      <button
        class="update"
        mat-icon-button
        color="accent"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal1"
        (click)="redirectToUpdate(element)"
      >
        <i class="fa-solid fa-pencil fa-lg"></i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button
        class="delete"
        mat-icon-button
        color="warn"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="redirectToDelete(element)"
      >
        <i class="fa-solid fa-trash-can fa-lg"></i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSize]="6" [pageSizeOptions]="[6, 10, 16, 20, 25]">
</mat-paginator>
