table {
  width: 1226px;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
.details,
.update,
.delete {
  border: none;
  background-color: #fff;
}
.details {
  color: #3a86ff;
}
.update {
  color: #8ac926;
}
.delete {
  color: #f44336;
}
input {
  width: 116%;
  border-radius: 26px;
  border: 1px solid #ada9a9;
  padding: 1% 17%;
  margin: 1% 1%;
  background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
  background-repeat: no-repeat;
  outline: 0;
  background-position: 12px;
  background-size: 16px;
}
/* table,
th,
td {
  border: 1px solid;
} */
tr:hover {
  background-color: #f0f0f0c7;
}
tr:hover .delete {
  background-color: #f0f0f0c7;
}
tr:hover .details {
  background-color: #f0f0f0c7;
}
tr:hover .update {
  background-color: #f0f0f0c7;
}
tr.mat-header-row {
  height: 56px;
  background: #f0f0f0c7;
}
th {
  text-transform: capitalize;
  color: black;
  font-size: 15px;
}
table.mat-table {
  border: 1px solid #eee;
}
