<div id="main">
  <div id="sidebar">
    <app-side-bar></app-side-bar>
  </div>

  <div id="navbar">
    <app-nav-bar></app-nav-bar>
  </div>
  <div id="content">
    <router-outlet></router-outlet>
    <!-- <app-line-chart></app-line-chart>
    <app-bar-chart></app-bar-chart>
    <app-doughnut-chart></app-doughnut-chart> -->
    <div class="card">
      <h5 class="card-header">Contacts</h5>
      <div class="card-body">
        <div class="container">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
        </div>
        <div class="container">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Contacts</h5>
      <div class="card-body">
        <div class="container">
          <app-bar-chart></app-bar-chart>
        </div>
      </div>
    </div>
  </div>
</div>
